@import "~bootstrap/scss/bootstrap.scss";

html, body { 
	margin: 0;
	height: 100%;
}

#root {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: black;
	display: grid;
	align-items: center;
}

canvas#board {
	width: 100%;
	height: auto;
	cursor: pointer;
}

.GameUI {
	position: absolute;
	left: 0;
	top: 0;
	// width: 100%;
	// height: 100%;
}